* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
}

.page-content {
  max-width: 1200px;
  margin: auto;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: #e7e4c7;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.center {
  display: flex;
  flex-direction: row;
}

.left-col {
  background-color: #292828;
  width: 30%;
  padding: 100px 50px 0;
  height: 1450px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.left-col section {
  margin-bottom: 40px;
}

.left-col .photo {
  width: 250px;
  border: 7px solid #e7e4c7;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-col h3 {
  color: #e7e4c7;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
}

.left-col .line {
  width: 86%;
  height: 2px;
  background-color: #daad1d;
  position: absolute;
  right: 0;
}

.left-col p {
  color: #e7e4c7;
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.container .contacts-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.contacts-item img {
  width: 30px;
  margin-right: 20px;
}

.contacts-item p,
.contacts-item a {
  margin: 0;
}

.skills ul li {
  position: relative;
}

.skills ul li,
.languages ul li {
  margin-bottom: 20px;
  color: #e7e4c7;
  letter-spacing: 1px;
}

.skills ul .no-margin {
  margin: 0;
}

.line-center {
  width: 3px;
  height: 85%;
  background-color: #daad1d;
  position: absolute;
  top: 217px;
  left: 357px;
}

.dot-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 6px;
  left: 143px;
}

.dot {
  width: 9px;
  height: 9px;
  background-color: #daad1d;
  border: 1px solid #daad1d;
  border-radius: 50%;
  margin: 0 8px;
}

.no-color {
  background-color: #ede596;
  border-color: #ede596;
}

.right-col {
  background-color: #e7e4c7;
  width: 70%;
  height: 1450px;
  position: relative;
}

.right-col h3 {
  color: #292828;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0 0 10px;
}

.right-col p {
  color: #292828;
  letter-spacing: 1px;
  margin-top: 0;
}

.right-col pre {
  margin: 0;
}

.head-color {
  width: 895px;
  height: 150px;
  position: absolute;
  left: -55px;
  top: 140px;
  background-color: #daad1d;
  padding: 13px 0;
}

.head-content {
  position: relative;
  left: 92px;
}

h1 {
  font-size: 45px;
  font-weight: 400;
  margin: 10px;
  letter-spacing: 3px;
  color: #292828;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
  letter-spacing: 3px;
  color: #292828;
}

.right-content {
  position: relative;
  padding: 0 50px;
  top: 385px;
}

.code,
.education {
  margin-top: 120px;
}

.bg-code {
  width: 740px;
  height: 440px;
  background-color: #d7d3b7;
  padding: 10px 0;
}

.education li {
  margin-bottom: 20px;
  color: #292828;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.bg-footer {
  position: relative;
  background-color: #daad1d;
  height: 80px;
  padding: 13px 0;
}

.bg-footer .school-logo {
  width: 150px;
  margin: 0 10px;
}

.contacts-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts-footer-right {
  position: absolute;
  left: 905px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.contacts-img {
  width: 53px;
  margin: 0 10px;
}

.contacts-footer-right div {
  font-size: 34px;
  font-weight: 900;
  line-height: 33px;
}
